<!--<div align="center">Семинар № 2-->

<div align="center"><font color=#4682B4 size=4 face=
                          "arial black"><em><strong>Семинар № 3</strong></em></font></div>

<div class="alert alert-block alert-info"><em>
<b>Самостоятельная работа.<br>
</b>&nbsp; Требуется выяснить:<br>
1. Какое соотношение сторон экрана телефона самое популярное,<br>
2. Плотность пикселей у экрана.

Всего 8 баллов.
</em></div>

In [1]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

In [2]:
spark = SparkSession.builder.master('local[*]').getOrCreate()
spark

Прочитайте содержимое каждого файла в датафрейм и выведите первые несколько строк (1 балл)<br>
Применив cast к колонке можно изменить тип данных (F.col().cast(IntegerType()).alias())<br>
Приведите все данные к правильному типу, либо считайе сразу верно (1 балл)

In [3]:
df_train = spark.read.option("header","true").csv("train.csv")
df_train.show(3)

+-------------+----+-----------+--------+---+------+----------+-----+---------+-------+---+---------+--------+----+----+----+---------+-------+------------+----+-----------+
|battery_power|blue|clock_speed|dual_sim| fc|four_g|int_memory|m_dep|mobile_wt|n_cores| pc|px_height|px_width| ram|sc_h|sc_w|talk_time|three_g|touch_screen|wifi|price_range|
+-------------+----+-----------+--------+---+------+----------+-----+---------+-------+---+---------+--------+----+----+----+---------+-------+------------+----+-----------+
|          842|   0|        2.2|       0|  1|     0|         7|  0.6|      188|      2|  2|       20|     756|2549|   9|   7|       19|      0|           0|   1|          1|
|         1021|   1|        0.5|       1|  0|     1|        53|  0.7|      136|      3|  6|      905|    1988|2631|  17|   3|        7|      1|           1|   0|          2|
|          563|   1|        0.5|       1|  2|     1|        41|  0.9|      145|      5|  6|     1263|    1716|2603|  11|   2|        9|      1|           1|   0|          2|
+-------------+----+-----------+--------+---+------+----------+-----+---------+-------+---+---------+--------+----+----+----+---------+-------+------------+----+-----------+
only showing top 3 rows

* id: ID
* battery_power: Total energy a battery can store in one time (mAh)
* blue: Support bluetooth or not
* clock_speed: Speed at which microprocessor executes instructions
* dual_sim: Support dual sim or not
* fc: Front Camera mega pixels
* four_g: Support 4G or not
* int_memory: Internal Memory (GB)
* m_dep: Mobile Depth (cm)
* mobile_wt: Weight of mobile phone
* n_cores: Number of cores of processor
* pc: Primary Camera mega pixels
* px_height: Pixel Resolution Height
* px_width: Pixel Resolution Width
* ram: Random Access Memory (MB)
* sc_h: Screen Height of mobile (cm)
* sc_w: Screen Width of mobile (cm)
* talk_time: Time that a single battery charge will last
* three_g: Support 3G or not
* touch_screen: Has touch screen or not
* wifi: Support wifi or not

In [4]:
df_train.dtypes

[('battery_power', 'string'),
 ('blue', 'string'),
 ('clock_speed', 'string'),
 ('dual_sim', 'string'),
 ('fc', 'string'),
 ('four_g', 'string'),
 ('int_memory', 'string'),
 ('m_dep', 'string'),
 ('mobile_wt', 'string'),
 ('n_cores', 'string'),
 ('pc', 'string'),
 ('px_height', 'string'),
 ('px_width', 'string'),
 ('ram', 'string'),
 ('sc_h', 'string'),
 ('sc_w', 'string'),
 ('talk_time', 'string'),
 ('three_g', 'string'),
 ('touch_screen', 'string'),
 ('wifi', 'string'),
 ('price_range', 'string')]

In [5]:
for _ in df_train.columns:
    if _ in ['clock_speed', 'm_dep']:
        df_train = df_train.withColumn(_, df_train[_].cast('float')) 
    else:   
        df_train = df_train.withColumn(_, df_train[_].cast('int'))

In [6]:
df_train.dtypes

[('battery_power', 'int'),
 ('blue', 'int'),
 ('clock_speed', 'float'),
 ('dual_sim', 'int'),
 ('fc', 'int'),
 ('four_g', 'int'),
 ('int_memory', 'int'),
 ('m_dep', 'float'),
 ('mobile_wt', 'int'),
 ('n_cores', 'int'),
 ('pc', 'int'),
 ('px_height', 'int'),
 ('px_width', 'int'),
 ('ram', 'int'),
 ('sc_h', 'int'),
 ('sc_w', 'int'),
 ('talk_time', 'int'),
 ('three_g', 'int'),
 ('touch_screen', 'int'),
 ('wifi', 'int'),
 ('price_range', 'int')]

In [7]:
df_test = spark.read.option("header","true").csv("test.csv")
df_test.show(3)

+---+-------------+----+-----------+--------+---+------+----------+-----+---------+-------+---+---------+--------+----+----+----+---------+-------+------------+----+
| id|battery_power|blue|clock_speed|dual_sim| fc|four_g|int_memory|m_dep|mobile_wt|n_cores| pc|px_height|px_width| ram|sc_h|sc_w|talk_time|three_g|touch_screen|wifi|
+---+-------------+----+-----------+--------+---+------+----------+-----+---------+-------+---+---------+--------+----+----+----+---------+-------+------------+----+
|  1|         1043|   1|        1.8|       1| 14|     0|         5|  0.1|      193|      3| 16|      226|    1412|3476|  12|   7|        2|      0|           1|   0|
|  2|          841|   1|        0.5|       1|  4|     1|        61|  0.8|      191|      5| 12|      746|     857|3895|   6|   0|        7|      1|           0|   0|
|  3|         1807|   1|        2.8|       0|  1|     0|        27|  0.9|      186|      3|  4|     1270|    1366|2396|  17|  10|       10|      0|           1|   1|
+---+-------------+----+-----------+--------+---+------+----------+-----+---------+-------+---+---------+--------+----+----+----+---------+-------+------------+----+
only showing top 3 rows

In [8]:
for _ in df_test.columns:
    if _ in ['clock_speed', 'm_dep']:
        df_test = df_test.withColumn(_, df_test[_].cast('float')) 
    else:   
        df_test = df_test.withColumn(_, df_test[_].cast('int'))

In [9]:
df_test.dtypes

[('id', 'int'),
 ('battery_power', 'int'),
 ('blue', 'int'),
 ('clock_speed', 'float'),
 ('dual_sim', 'int'),
 ('fc', 'int'),
 ('four_g', 'int'),
 ('int_memory', 'int'),
 ('m_dep', 'float'),
 ('mobile_wt', 'int'),
 ('n_cores', 'int'),
 ('pc', 'int'),
 ('px_height', 'int'),
 ('px_width', 'int'),
 ('ram', 'int'),
 ('sc_h', 'int'),
 ('sc_w', 'int'),
 ('talk_time', 'int'),
 ('three_g', 'int'),
 ('touch_screen', 'int'),
 ('wifi', 'int')]

Объедините train и test (1 балла)<br>
PS: нужно сделать средствами pyspark (аналог в пандас pd.concat([train, test,], axis=0))

Добавим недостающие столбцы с None в данные.

In [10]:
df_train_m = df_train.withColumn("id", F.lit(None)) 
df_test_m = df_test.withColumn("price_range", F.lit(None))

Объединим в один DataFraim по столбцам.

In [11]:
df_un = df_train_m.unionByName(df_test_m)
df_un.show(3)

+-------------+----+-----------+--------+---+------+----------+-----+---------+-------+---+---------+--------+----+----+----+---------+-------+------------+----+-----------+----+
|battery_power|blue|clock_speed|dual_sim| fc|four_g|int_memory|m_dep|mobile_wt|n_cores| pc|px_height|px_width| ram|sc_h|sc_w|talk_time|three_g|touch_screen|wifi|price_range|  id|
+-------------+----+-----------+--------+---+------+----------+-----+---------+-------+---+---------+--------+----+----+----+---------+-------+------------+----+-----------+----+
|          842|   0|        2.2|       0|  1|     0|         7|  0.6|      188|      2|  2|       20|     756|2549|   9|   7|       19|      0|           0|   1|          1|NULL|
|         1021|   1|        0.5|       1|  0|     1|        53|  0.7|      136|      3|  6|      905|    1988|2631|  17|   3|        7|      1|           1|   0|          2|NULL|
|          563|   1|        0.5|       1|  2|     1|        41|  0.9|      145|      5|  6|     1263|    1716|2603|  11|   2|        9|      1|           1|   0|          2|NULL|
+-------------+----+-----------+--------+---+------+----------+-----+---------+-------+---+---------+--------+----+----+----+---------+-------+------------+----+-----------+----+
only showing top 3 rows

In [12]:
df_un.count()

3000

Выведите отсортированное распределение плотности пикселей в пикселях на дюйм(1 балла)

Добавим столбец `pixel_density` с расчетом разрешения экрана в пикселях на дюйм.

In [13]:
df_un = df_un.withColumn('pixel_density', ((F.col('px_height')**2+F.col('px_width')**2) / \
((F.col('sc_h')/2.54)**2+(F.col('sc_w')/2.54)**2))**.5)
df_un.show(7)

+-------------+----+-----------+--------+---+------+----------+-----+---------+-------+---+---------+--------+----+----+----+---------+-------+------------+----+-----------+----+------------------+
|battery_power|blue|clock_speed|dual_sim| fc|four_g|int_memory|m_dep|mobile_wt|n_cores| pc|px_height|px_width| ram|sc_h|sc_w|talk_time|three_g|touch_screen|wifi|price_range|  id|     pixel_density|
+-------------+----+-----------+--------+---+------+----------+-----+---------+-------+---+---------+--------+----+----+----+---------+-------+------------+----+-----------+----+------------------+
|          842|   0|        2.2|       0|  1|     0|         7|  0.6|      188|      2|  2|       20|     756|2549|   9|   7|       19|      0|           0|   1|          1|NULL|168.47511337788825|
|         1021|   1|        0.5|       1|  0|     1|        53|  0.7|      136|      3|  6|      905|    1988|2631|  17|   3|        7|      1|           1|   0|          2|NULL|321.39416265168416|
|          563|   1|        0.5|       1|  2|     1|        41|  0.9|      145|      5|  6|     1263|    1716|2603|  11|   2|        9|      1|           1|   0|          2|NULL| 484.0589631026369|
|          615|   1|        2.5|       0|  0|     0|        10|  0.8|      131|      6|  9|     1216|    1786|2769|  16|   8|       11|      1|           0|   0|          2|NULL|306.79280937629557|
|         1821|   1|        1.2|       0| 13|     1|        44|  0.6|      141|      2| 14|     1208|    1212|1411|   8|   2|       15|      1|           1|   0|          1|NULL| 527.0844715870838|
|         1859|   0|        0.5|       1|  3|     0|        22|  0.7|      164|      1|  7|     1004|    1654|1067|  17|   1|       10|      1|           0|   0|          1|NULL| 288.5938643169313|
|         1821|   0|        1.7|       0|  4|     1|        10|  0.8|      139|      8| 10|      381|    1018|3220|  13|   8|       18|      1|           0|   1|          3|NULL|180.87138419970586|
+-------------+----+-----------+--------+---+------+----------+-----+---------+-------+---+---------+--------+----+----+----+---------+-------+------------+----+-----------+----+------------------+
only showing top 7 rows

Сохраните результат в csv sep=';', encoding='cp1251'<br>
с колонками id, плотность пикселей и общей инфой в формате "2 ядра 2 гига"<br>
2 балла

In [14]:
info = F.concat(F.col("n_cores"),F.lit(" ядра; "), F.col("int_memory"),F.lit(" гига")).alias("info")
tel_data = df_un.sort(F.col('pixel_density'), ascending = True). \
select("id", F.round("pixel_density", scale=2).alias("resolution, px/inch"), info)
tel_data.show(10)

+----+-------------------+---------------+
|  id|resolution, px/inch|           info|
+----+-------------------+---------------+
|NULL|              56.42| 4 ядра; 5 гига|
| 876|              60.63|1 ядра; 43 гига|
|NULL|              60.67|2 ядра; 11 гига|
| 382|              60.77|7 ядра; 52 гига|
|NULL|              62.93|3 ядра; 35 гига|
| 339|              64.23|6 ядра; 13 гига|
|  85|              65.14|8 ядра; 15 гига|
|NULL|              66.98|4 ядра; 45 гига|
|NULL|              67.27|3 ядра; 35 гига|
|NULL|              68.23|5 ядра; 54 гига|
+----+-------------------+---------------+
only showing top 10 rows

In [ ]:
tel_data.write.options(header='True', delimiter=';', encoding='cp1251').csv("telephone_data")

***

<div class="alert alert-block alert-info"><em>
<b>Задание 1.<br>
</b>&nbsp; Добавьте к таблице следующие поля:

Средняя стомость 10 проданных домов до текущего в том же районе (4digit postcode) (1 балл)<br>
Средняя стомость 10 проданных домов после текущего в том же районе (4digit postcode) (1 балл)<br>
Стоимость последнего проданного дома до текущего (1 балл)<br>
</em></div>

In [15]:
df = spark.read.option("header","true").csv("raw_sales.csv")
df.show(5)

+-------------------+--------+------+------------+--------+
|           datesold|postcode| price|propertyType|bedrooms|
+-------------------+--------+------+------------+--------+
|2007-02-07 00:00:00|    2607|525000|       house|       4|
|2007-02-27 00:00:00|    2906|290000|       house|       3|
|2007-03-07 00:00:00|    2905|328000|       house|       3|
|2007-03-09 00:00:00|    2905|380000|       house|       4|
|2007-03-21 00:00:00|    2906|310000|       house|       3|
+-------------------+--------+------+------------+--------+
only showing top 5 rows

In [16]:
df.count()

29580

Отсортируем по дате продаж.

In [17]:
df = df.sort(F.col('datesold'), ascending = True)

In [18]:
from pyspark.sql.window import Window as W

In [19]:
w_1 = W.partitionBy("postcode").rowsBetween(-10,0)
df = df.withColumn("pr_10bef", F.round(F.avg(df.price).over(w_1), 2))
df.show(10)

+-------------------+--------+-------+------------+--------+---------+
|           datesold|postcode|  price|propertyType|bedrooms| pr_10bef|
+-------------------+--------+-------+------------+--------+---------+
|2007-07-08 00:00:00|    2600| 327000|       house|       1| 327000.0|
|2007-08-16 00:00:00|    2600| 790000|       house|       4| 558500.0|
|2007-12-05 00:00:00|    2600| 825000|       house|       3|647333.33|
|2008-01-21 00:00:00|    2600| 315000|        unit|       1| 564250.0|
|2008-04-24 00:00:00|    2600| 292500|       house|       1| 509900.0|
|2008-05-30 00:00:00|    2600| 329000|        unit|       2| 479750.0|
|2008-06-19 00:00:00|    2600| 765000|       house|       5| 520500.0|
|2008-07-29 00:00:00|    2600| 927000|       house|       4| 571312.5|
|2008-09-02 00:00:00|    2600|1380000|       house|       5|661166.67|
|2008-09-08 00:00:00|    2600| 740000|       house|       3| 669050.0|
+-------------------+--------+-------+------------+--------+---------+
only showing top 10 rows

In [20]:
w_2 = W.partitionBy("postcode").rowsBetween(0,10)
df = df.withColumn("pr_10aft", F.round(F.avg(df.price).over(w_2), 2))
df.show(11)

+-------------------+--------+-------+------------+--------+---------+---------+
|           datesold|postcode|  price|propertyType|bedrooms| pr_10bef| pr_10aft|
+-------------------+--------+-------+------------+--------+---------+---------+
|2007-07-08 00:00:00|    2600| 327000|       house|       1| 327000.0|673681.82|
|2007-08-16 00:00:00|    2600| 790000|       house|       4| 558500.0|706681.82|
|2007-12-05 00:00:00|    2600| 825000|       house|       3|647333.33|692590.91|
|2008-01-21 00:00:00|    2600| 315000|        unit|       1| 564250.0|703954.55|
|2008-04-24 00:00:00|    2600| 292500|       house|       1| 509900.0|741681.82|
|2008-05-30 00:00:00|    2600| 329000|        unit|       2| 479750.0|792818.18|
|2008-06-19 00:00:00|    2600| 765000|       house|       5| 520500.0|859045.45|
|2008-07-29 00:00:00|    2600| 927000|       house|       4| 571312.5|816772.73|
|2008-09-02 00:00:00|    2600|1380000|       house|       5|661166.67|775681.82|
|2008-09-08 00:00:00|    2600| 740000|       house|       3| 669050.0|754772.73|
|2008-09-17 00:00:00|    2600| 720000|       house|       3|673681.82|739772.73|
+-------------------+--------+-------+------------+--------+---------+---------+
only showing top 11 rows

In [21]:
w_3 = W.partitionBy("postcode").orderBy(F.asc("datesold"))
df = df.withColumn("pr_pr",F.lag("price").over(w_3))
df.show(5)

+-------------------+--------+------+------------+--------+---------+---------+------+
|           datesold|postcode| price|propertyType|bedrooms| pr_10bef| pr_10aft| pr_pr|
+-------------------+--------+------+------------+--------+---------+---------+------+
|2007-07-08 00:00:00|    2600|327000|       house|       1| 327000.0|673681.82|  NULL|
|2007-08-16 00:00:00|    2600|790000|       house|       4| 558500.0|706681.82|327000|
|2007-12-05 00:00:00|    2600|825000|       house|       3|647333.33|692590.91|790000|
|2008-01-21 00:00:00|    2600|315000|        unit|       1| 564250.0|703954.55|825000|
|2008-04-24 00:00:00|    2600|292500|       house|       1| 509900.0|741681.82|315000|
+-------------------+--------+------+------------+--------+---------+---------+------+
only showing top 5 rows

Найдите среднюю цену жилья для каждого года и приджойните эти данные к таблице из задания 1. (2 балла)

*(left join on a.year(date of sale) = b.year, где a - таблица из первого задания, а b таблица после группировки)*

Разделим столбец `datesold` и создадим столбец `year` в новом DataFrame.

In [22]:
df_2 = df.select(df.datesold.alias("dat_sol"), \
                 F.split(df["datesold"], '-').getItem(0).alias("year"), "price")
df_2.show(5)

+-------------------+----+------+
|            dat_sol|year| price|
+-------------------+----+------+
|2007-02-07 00:00:00|2007|525000|
|2007-02-27 00:00:00|2007|290000|
|2007-03-07 00:00:00|2007|328000|
|2007-03-09 00:00:00|2007|380000|
|2007-03-21 00:00:00|2007|310000|
+-------------------+----+------+
only showing top 5 rows

Сгруппируем по `year` и найдём среднюю для каждого года.

In [23]:
df_2 = df_2.withColumn("avg_ye_pr", F.round(F.avg(df.price).over(W.partitionBy("year")), 2))
df_2 = df_2.drop("price")
df_2.show(10)

+-------------------+----+---------+
|            dat_sol|year|avg_ye_pr|
+-------------------+----+---------+
|2007-02-07 00:00:00|2007|522377.21|
|2007-02-27 00:00:00|2007|522377.21|
|2007-03-07 00:00:00|2007|522377.21|
|2007-03-09 00:00:00|2007|522377.21|
|2007-03-21 00:00:00|2007|522377.21|
|2007-04-04 00:00:00|2007|522377.21|
|2007-04-24 00:00:00|2007|522377.21|
|2007-04-30 00:00:00|2007|522377.21|
|2007-05-24 00:00:00|2007|522377.21|
|2007-05-25 00:00:00|2007|522377.21|
+-------------------+----+---------+
only showing top 10 rows

Объединим и удалим ненужный столбец.

In [24]:
df_result = df.join(df_2, df.datesold == df_2.dat_sol, 'left').drop('dat_sol')
df_result.show(5)

+-------------------+--------+------+------------+--------+---------+---------+------+----+---------+
|           datesold|postcode| price|propertyType|bedrooms| pr_10bef| pr_10aft| pr_pr|year|avg_ye_pr|
+-------------------+--------+------+------------+--------+---------+---------+------+----+---------+
|2007-07-08 00:00:00|    2600|327000|       house|       1| 327000.0|673681.82|  NULL|2007|522377.21|
|2007-08-16 00:00:00|    2600|790000|       house|       4| 558500.0|706681.82|327000|2007|522377.21|
|2007-12-05 00:00:00|    2600|825000|       house|       3|647333.33|692590.91|790000|2007|522377.21|
|2008-01-21 00:00:00|    2600|315000|        unit|       1| 564250.0|703954.55|825000|2008|493814.16|
|2008-04-24 00:00:00|    2600|292500|       house|       1| 509900.0|741681.82|315000|2008|493814.16|
+-------------------+--------+------+------------+--------+---------+---------+------+----+---------+
only showing top 5 rows

"Причешем" таблицу.

In [25]:
df_result = df_result.withColumn("date_sold",F.split(df["datesold"], ' ').getItem(0))
df_result = df_result.drop('datesold')
df_result = df_result.select([df_result.columns[-1]]+ df_result.columns[:-1])
df_result.show(7)

+----------+--------+------+------------+--------+---------+---------+------+----+---------+
| date_sold|postcode| price|propertyType|bedrooms| pr_10bef| pr_10aft| pr_pr|year|avg_ye_pr|
+----------+--------+------+------------+--------+---------+---------+------+----+---------+
|2007-07-08|    2600|327000|       house|       1| 327000.0|673681.82|  NULL|2007|522377.21|
|2007-08-16|    2600|790000|       house|       4| 558500.0|706681.82|327000|2007|522377.21|
|2007-12-05|    2600|825000|       house|       3|647333.33|692590.91|790000|2007|522377.21|
|2008-01-21|    2600|315000|        unit|       1| 564250.0|703954.55|825000|2008|493814.16|
|2008-04-24|    2600|292500|       house|       1| 509900.0|741681.82|315000|2008|493814.16|
|2008-04-24|    2600|292500|       house|       1| 509900.0|741681.82|315000|2008|493814.16|
|2008-05-30|    2600|329000|        unit|       2| 479750.0|792818.18|292500|2008|493814.16|
+----------+--------+------+------------+--------+---------+---------+------+----+---------+
only showing top 7 rows

**Непонятное задание**. Сделал, как понял.

In [26]:
df_result.distinct().count()

29580